.fourthPage {
    display: flex;
    flex-direction: column;
} 

.fourthPage .textContent {
    flex-direction: column;
    justify-content: center;
    top: 5em;
    position: absolute;
    left:-89vw;
    padding: 1.2em;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 1;
    border-right: 0.3em solid #45BF55;
    transition: left 1s ease;
}

@media only screen and (min-width: 992px) {
    .fourthPage .textContent {
        width: 40vw;
        transition: left 1s ease;
    }
}