
/* Front page - section */
.frontPage {
    background-color: rgb(212, 209, 209);
}
.frontPage h1 {
    width: 60%;
}


.mailForm{
    background-color: #C4C4C4 ;
    width: 70%;
    left: 15%;
    padding: 0.5rem;
    position: fixed;
    top:90vh;
    z-index:1;
}   