
/* Front page - section */
header {
    background-color: grey;
    display: flex;
}
.frontPage {
    background-color: rgb(212, 209, 209);
}
.frontPage form {
    background-color: rgb(158, 247, 243);
    position: absolute;
    width: 70%;
    bottom: 2%;
    left: 15%;
    padding: 0.5rem;
}
.frontPage h2 {
    width: 50%;
}
