
/* Front page - section */
.frontPage {
    background-image: linear-gradient(#252525, rgba(255, 255, 255, 0) 10% 80%, #252525);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

h1 {
    font-family: aktivGroteskLight;
    text-align: center;
    width: 80%;
    z-index: 1;
    line-height: 1.2;
}

.frontPageFormAnimation {
    animation-name: float;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }
}

@media only screen and (min-width: 992px) { 
    .frontPage {
        align-items: flex-start;
    }

    h1 {
        text-align: left;
        width: 9em;
        margin-left: 2.5em;
    }

    .mailForm {
        font-size: 1em;
        width: 30em;
        margin-left: 7em;
        margin-bottom: 10em;
    }


}