nav {
  position: fixed;
  z-index: 15;;
  top: 0;
  height: 4em;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.menuItems {
  display: none;
}
.mainNav img {
  height: 1.5em;
}

/* Hamburger icon */
.hamburgerIcon {
  width: 2em;
  z-index: 2;
  position: absolute;
  right: 1.2em;
}
.bar1, .bar2 {
  width: 2.2em;
  border-radius: 1em; /*remove if we don't want it*/
  height: 0.2em; /*changed from 0.25*/
  background-color: #ffffff;
  transition: 0.3s;
}
.bar2 {
  margin-top: 0.6em;
}

/* Class "change" turns hamburgerIcon to a cross when clicked */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-1em, 0.5em);
  transform: rotate(-45deg) translate(-0.55em, 0.1em);
}
.change .bar2 {
  -webkit-transform: rotate(45deg) translate(-1em, -0.5em);
  transform: rotate(45deg) translate(-0.55em, -0.1em);
}

/* Class "showMenu" makes menu items visible when hamburgerIcon is clicked */
.showMenu {
  display: block;
  position: absolute;
  right: 0;
  top: 3em;
  width: 50vw;
}
.showMenu {
  margin-top: 4em;
}
.showMenu li {
  text-align: left;
  font-size: 1rem;
  padding: 0.7em 0.5em 0.7em 2em;
  text-transform: uppercase;
}
.showMenu .preOrder {
  padding-left: 1em;
  margin-top: 1em;
}
.showMenu .highlight {
  border: 1px solid rgb(16, 16, 16);
  border-radius: 2em;
  width: 8em;
  padding: 1.1em 1em 1em 1em;
  background-color: rgb(16, 16, 16);
}
.menuItems .highlight:hover {
  border: 1px solid #45BF55;
}

.arrowRight {
  display: inline-block;
  margin: 0em 0em 0.09em 0.1em;
  width: 0.5em;
  height: 0.5em;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg); /*makes the arrow point to the right*/
}

.arrowRight:hover {
  border-top: 2px solid #45bf55;
  border-right: 2px solid #45bf55;
}

/* change the menu's background when hamburgerIcon is clicked */
.changeBackground {
  display: flex;
  justify-content: flex-end;
  padding: 1em 1em 0 0;
  background-color: #252525;
  width: 50vw;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

/* Show and hide nav on scroll */
.navShow{
  top:0em;
  /* background:#252525; */
  transition: top ease-in-out 0.4s;
}
.navHide{
  top:-10em;
  transition: top ease-in-out 0.4s;
}
.oopacityNav{
  /* background-color:rgba(0,0,0,0); */
  top:0em;
} 


/* Nav menu in desktop */
@media only screen and (min-width: 992px) { 
  .menuItems {
    display: block;
  }
  .menuItems li {
    display: inline-block;
    padding: 0 1em;
  }
  .menuItems .highlight {
    border: 1px solid #ffffff;
    border-radius: 2em;
    padding: 0.7em 0.6em 0.6em 0.6em;
  }
  .hamburgerIcon {
    display: none;
  }
}

/* Animations on mobile menu */
@keyframes slide-in {
  0% { 
    transform: translateX(100%);
  }
}
@-webkit-keyframes slide-in {
  0% { 
    -webkit-transform: translateX(100%);
  }
}