.merch {
    display: flex;
    flex-direction: column;
}

.merch .merchContent {
    height: 33.34vh;
    width: 100vw;
}

.merchContent img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Merch section in desktop */
@media only screen and (min-width: 992px) {
    .merch {
        display: flex;
        flex-direction: row;
    }

    .merch .merchContent {
        height: 100vh;
        width: 33.34vw;
        /* transition: transform 10s; */
    }

    .merchContent img:hover {
        /* transform: scale(1.1); */
    }
 }
