/* Second page - section */

.secondPage {
    display: flex;
    flex-direction: column;
} 

.secondPage .textContent {
    position: absolute;
    top: 15vh;
    padding: 2em;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 1;
    border-right: 0.3em solid #45BF55;
    left:-89vw;
    transition: left 1s ease-in-out;
}

.secondPage p{
    font-size: 13px;
}

.secondPage h2{
    margin: 0px;
    padding:0px
}

@media only screen and (min-width: 992px) {
    .secondPage .textContent {
        width: 40vw;
        transition: left 1.5s ease-in-out;
    }
    .secondPage p{
    font-size: 18px;
}
}



