.seventhPage {
    height: 100vh;
    width: 100vw;
    position: relative; 
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
.aboutBackground {
    z-index: -1;
}
/* Article and footer/contact us */
.seventhPage article,
.seventhPage .contact {
    margin: 3.6em 1em 0 1em;
}

.seventhPage article p {
    padding-bottom: 1em;
}

/* Email form */
.seventhPage .mailForm {
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.seventhPage label {
    padding: 0;
    margin: 1em 0;
}

.seventhPage .mailForm button {
    text-align: center;
}

.seventhPage h2 {
    padding-bottom: 1em;
}

.seventhPage ul li {
    padding: 0.3em 0;
}
.seventhPage .contact img {
    width: 2em;
    margin: 1em 0.5em 1em 0;
}

/* Arrow */
.bottomButton {
    position: absolute;
    bottom: 0;
    right: 0;
}
.arrowUpp {
    transform: rotate(315deg); /* Makes the arrow point up */
}

/* Media queries for desktop */
@media only screen and (min-width: 992px) { 
    /* Change display and height of section */
    .seventhPage {
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .aboutBackground, .aboutBackground img {
        height: 80vh;
    }

    .seventhPage article, 
    .seventhPage .contact {
        width: 40%;
        height: 80%;
        margin-top: 4em;
    }

    .seventhPage h2 {
        padding-bottom: 1.5em;
    }

    /* Footer  */
    .seventhPage .contact {
        text-align: center;
    }

    .seventhPage .contact img {
        margin: 2.6em 0.5em;
        /* margin: 1em 0.5em 1em 0; */
    }

    /* Arrow */
    .bottomButton {
        position: absolute;
        bottom: 1em;
    }
}