.seventhPage {
    height: 100vh;
    width: 100vw;
    position: relative; 
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
.aboutBackground {
    z-index: -1;
}
/* Article */
.seventhPage article {
    margin: 0 1em;
}
.seventhPage article h2 {
    padding: 2em 0 1em;
}
.seventhPage article p {
    padding-bottom: 1em;
}

/* Email form */
.seventhPage .mailForm {
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.seventhPage .mailForm button {
    text-align: center;
}

/* Footer */
.seventhPage .contact {
    margin: 3em 1em 0;
}
.seventhPage h3 {
    font-size: 1em;
    padding-bottom: 1em;
}
.seventhPage ul, .seventhPage p {
    font-size: 0.8em;
}
.seventhPage ul li {
    padding: 0.3em 0;
}
.seventhPage .contact img {
    width: 2em;
    margin: 1em 0.5em 1em 0;
}

/* Arrow */
.bottomButton {
    position: absolute;
    bottom: 0;
    right: 0;
}
.arrowUpp {
    transform: rotate(315deg); /* Makes the arrow point up */
}

/* Media queries for desktop */
@media only screen and (min-width: 992px) { 
    /* Change display and height of section */
    .seventhPage {
        height: 80vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .aboutBackground, .aboutBackground img {
        height: 80vh;
    }
    .seventhPage article, .seventhPage .contact {
        width: 40%;
    }
    /* Footer  */
    .seventhPage .contact {
        text-align: center;
        margin: 0;
    }
    .seventhPage ul, .seventhPage p {
        font-size: 1em;
    }
    .seventhPage .contact h3 {
        font-size: 1.5em;
    }
    /* Arrow */
    .bottomButton {
        position: absolute;
        bottom: 1em;
    }
}