.sixthPage {
    display: flex;
    flex-direction: column;
}

.sixthPage h2 {
    color: #252525;
    margin-top: 0.1em;
}

.sixthPage .content {
    z-index: 1;
}

.sixthPage .headings {
    text-align: center;
    margin-top: 4.5em;
}

/* Download folder */
.sixthPage .desktopDownload {
    display: none;
}

/* Section six in desktop */
@media only screen and (min-width: 992px) {
    .sixthPage .content {
        height: 50vh;
        margin: 9em 0 0 58vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .sixthPage h2 {
        text-align: left;
    }

    .sixthPage .desktopDownload {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 28vw;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .sixthPage .desktopDownload p, 
    .sixthPage .desktopDownload form {
        padding: 1em 0.8em;
    } 

    .desktopDownload button {
        background-color: #45bb55;
        cursor: pointer;
        border: none;
        padding: 0.4em;
        font-size: 1em;
        overflow: hidden;
        white-space: nowrap; /*prevents text from wrapping in button*/
    }
}