/** General styling**/
@font-face {
    font-family: aktivGrotesk;
    src: url(../Fonts/AktivGrotesk-Medium.otf);
    font-weight: bold;
}
@font-face {
    font-family: aktivGrotesk;
    src: url(../Fonts/AktivGrotesk-Bold.otf);
    font-weight: bolder;
}
@font-face {
    font-family: aktivGrotesk;
    src: url(../Fonts/AktivGrotesk-Light.otf);
    font-weight: lighter;
}
@font-face {
    font-family: aktivGrotesk;
    src: url(../Fonts/AktivGrotesk-Regular.otf);
}

* {
    box-sizing:border-box;
    font-family: aktivGrotesk, sans-serif;
    color: #ffffff;
}
section {
    height: 100vh;
    width: 100vw;
}
a {
    text-decoration: none;
}

/* Background images to sections */
.backgroundImage {
    position: absolute;
    height: 100vh;
    width: 100%;
}
.backgroundImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Make text display on background image*/
.backgroundImage + p {
    position: relative;
    z-index: 1;
    margin: 0;
}



