/* Fonts */
@font-face {
    font-family: aktivGroteskMedium;
    src: url(../Fonts/AktivGrotesk-Medium.otf);
}
@font-face {
    font-family: aktivGroteskBold;
    src: url(../Fonts/AktivGrotesk-Bold.otf);
}
@font-face {
    font-family: aktivGroteskLight;
    src: url(../Fonts/AktivGrotesk-Light.otf);
}
@font-face {
    font-family: aktivGrotesk;
    src: url(../Fonts/AktivGrotesk-Regular.otf);
}

/* General styling */
* {
    box-sizing: border-box;
    font-family: aktivGroteskLight, sans-serif;
    color: #ffffff;
    scroll-behavior: smooth;
    margin: 0px;
}

html {
    font-size: 16px; /*instead of 100% in case a browser doesn't support rem*/
}

/*font sizes mobile*/
h1 {
    font-size: 2.12rem;
}

h2 {
    font-size: 1.125rem;
}

p, a, li {
    font-size: 0.85rem;
}

/*font sizes desktop*/
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    
    p, a, li {
        font-size: 1rem;
    }

}

/*make it work look better on chrome (Marcus)*/
body{
    margin: 0px;
    padding: 0px; 
}

section {
    height: 100vh;
    width: 100vw;
    position: relative; 
    overflow: hidden;
}

a {
    text-decoration: none;
    line-height: 0;
    margin: 0;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

/* Background images to sections */
.backgroundImage {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.backgroundImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Make text display on background image*/
.backgroundImage + p {
    position: relative;
    z-index: 1;
    margin: 0;
}

/* Email form (on front page and last page) */
.mailForm {
    text-align: center;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.6);
    height: 6.5em;
    width: 80%;
    z-index: 1;
    margin-bottom: 5.5em;
}

.mailForm label {
    text-align: left;
    display: block;
    padding: 0.8em 0 0.6em 0.8em;
}

.mailForm input {
    all: unset;
    text-align: left;
    padding-left: 0.5em;
    background-color: #ffffff;
    color: rgb(107, 105, 105);
    width: 60%;
    height: 2em;
    cursor: text;
    border: 2px solid white;
}

.mailForm input:focus {
    border: 2px solid #45bf55;
}

.mailForm button {
    all: unset;
    width: 30%;
    height: 2em;
    border-radius: 0.1em;
    background-color: #45BF55;
    cursor: pointer;
    border: 2px solid #45bf55;
}

.mailForm button:focus {
    border: 2px solid #044D29;
}

/* "Read more" anchor link on section 2, 3, and 4*/
.textContent .readMore {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1.2em;
}

/* Scroll arrow */
.bottomButton button {
    margin: 0;
    height: 3.5em;
    width: 6em;
    background: transparent;
    border: 0px solid #fff;
    cursor: pointer;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 10;
}

.arrowDown {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(135deg); /*makes the arrow point down*/
}

/* Hover effects */
.greenBtn:hover{
    background-color: #168039;
}

.greenBtn:active{
    background-color: #044D29;
}

a:hover {
    color: #45BF55;
}

/* Animation to make scroll-arrow bounce */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(3px);
    }
}

/* positioning of down button */
.bottomButton {
    display: none;
}

/* Download folder */
.download {
    background: black;
    height: 3.5em;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.downloadFixed{
    position: fixed;
    animation: opacity ease-in-out 0.5s;
}
.downloadAbsolute{
    position: absolute;
}
@keyframes opacity {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


.download button {
    all: unset;
    width: 6em;
    height: 2em;
    background: #45BF55;;
    margin: 0em 1.8em;
    padding: 0;
    border-radius: 0.1em;
    text-align: center;
}

.download p {
    margin: 0;
    padding: 0;
}

/** to show Textbox sektion to left**/

/*section 2,4*/
.textContentShow{
    left: 0px !important;
    transition: left 1s ease;
}

/*section 3*/
.textContentShow2{
    right: 0px !important;
    transition: right 1s ease ;
}

@media only screen and (min-width: 992px) {
    .bottomButton {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .textContentShow{
        transition: left 1s ease;
    }

    .textContentShow2{
        transition: right 1s ease;
    }

    .download {
        width: 25%;
    }
    .downloadNone{
        Display:none;
    }

    .downloadAbsolute{
     position: fixed;  
     opacity: 0; 
    }

    .mailForm label {
        padding-left: 1.1em;
    }
    
}



    