/** General styling**/
* {
    box-sizing:border-box;
    font-family: aktiv-grotesk, sans-serif;
}
section {
    height: 100vh;
    width: 100vw;
}
a {
    text-decoration: none;
    color: #ffffff;
}



