.thirdPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
} 

.thirdPage .textContent {
    position: absolute;
    right: -89vw;
    display: inline;
    margin-top: 5em;
    padding: 2em;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto; /*background height adjusts to text content*/
    z-index: 1;
    border-left: 0.3em solid #45BF45;
    transition: right 1s ease-in-out;
}

.thirdPage h2 {
    margin: 0;
}

@media only screen and (min-width: 992px) {
.thirdPage {
    align-items: flex-end;
}

.thirdPage .textContent {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 40vw;
    transition: right 1.5s ease-in-out;
}

.thirdPage p {
    display: inline;
}
}