.thirdPage {
    display: flex;
    justify-content: flex-end;
} 

.thirdPage .blurr {
    display: inline;
    margin-top: 5em;
    padding: 2em;
    height: 20vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.thirdPage h2 {
    margin: 0;
}

@media only screen and (min-width: 992px) {
.thirdPage p {
    display: inline-block;
    width: 30em;
    backdrop-filter: blur(10px);
}
}